body {
    font-family: Arial, sans-serif;
    background-color: rgb(228, 224, 168);
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
}

.social-links {
    text-align: center;
    margin-top: 20px;
}

.social-links a {
    display: inline-block;
    margin: 0 10px;
    font-size: 24px;
    color: #333;
}

.Linkedin {
    color: #3fd3dd; /* WhatsApp color */
}

.facebook {
    color: #1877f2; /* Facebook color */
}

.twitter {
    color: #1DA1F2; /* Twitter color */
}

.instagram {
    color: #E4405F; /* Instagram color */
}

.other-contact-info {
    margin-top: 20px;
    text-align: center;
}

.other-contact-info p {
    margin: 5px 0;
}
body {
    height: 100vh;
     background: linear-gradient(90deg,#e52e71,#ff8a00);
  
  }
  
  .slider-thumb::before {
    position: absolute;
    content: "";
    left: 30%;
    top: 40%;
    width: 450px;
    height: 450px;
    background: hsl(0, 0%, 9%);
    border-radius: 32% 47% 82% 35% / 45% 45% 80% 66%;
    will-change: border-radius, transform, opacity;
    animation: sliderShape 6s linear infinite;
    display: block;
    z-index: -1;
    -webkit-animation: sliderShape 5s linear infinite;
  }
  @keyframes sliderShape{
    0%,100%{
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
      transform: translate3d(0,0,0) rotateZ(0.01deg);
    }
    34%{
        border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
      transform:  translate3d(0,5px,0) rotateZ(0.01deg);
    }
    50%{
      transform: translate3d(0,0,0) rotateZ(0.01deg);
    }
    67%{
      border-radius: 100% 60% 60% 100% / 100% 100% 60% 60% ;
      transform: translate3d(0,-3px,0) rotateZ(0.01deg);
    }
  }
